aside.logo{
    background-color: var(--bg-black);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

aside.logo img {
    max-height: 100%; /* Logo não excede limites */
    mad-width: 100%;
    height: auto; /* Manter aspect ratio */
    width: auto;
}
